@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
}

:root {
    --white-clr: #fff;
    --black-clr: #000;
    --text-clr: #777;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 62.5%;
}

section {
    padding: 4rem 10rem;
}

.btn {
    color: var(--black-clr);
    background: var(--white-clr);
    font-size: 1.4rem;
    padding: .5rem 2.5rem;
    border-radius: 2rem;
    border: 2px solid var(--white-clr);
    transition: all .2s ease-out;
}

.btn:hover {
    color: var(--white-clr);
    background: transparent;
}

.label {
    font-size: 1.4rem;
    color: var(--text-clr);
    font-weight: 400;
}

.heading {
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: -2px;
    white-space: nowrap;
}

body {
    background: #f8f8fa;
}

/* ------------------------- home section starts hare ---------------- */

.home {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 2rem;
    background: linear-gradient(rgb(0 0 0 / 10%), rgb(0 0 0 / 10%)), url(/assets/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 5px solid #fff;
    border-radius: 2rem;
    color: #fff;
    position: relative;
}

.home header {
    padding: 0 4rem;
    position: absolute;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.home header i {
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
}

.home header h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
}

.home header nav {
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: .8rem 5rem;
    background: rgb(255 255 255 / 10%);
    backdrop-filter: blur(5px);
    border-top: 2px solid rgb(255 255 255 / 20%);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    border-radius: 2rem;
}

.home header nav a {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #ddd;
    transition: color .2s ease;
}

.home header nav a:is(.active, :hover) {
    color: #fff;
}

.home .main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.home .main h1 {
    font-size: 9rem;
    text-transform: none;
    font-weight: 500;
    max-width: 120rem;
    letter-spacing: -3px;
    margin-top: 150px;
}

.home .main p {
    font-size: 1.6rem;
}

.home .main .search {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    padding: .5rem;
    border-radius: 3rem;
    background: rgb(255 255 255 / 10%);
    backdrop-filter: blur(5px);
    border-top: 2px solid rgb(255 255 255 / 20%);
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

.home .main .search ul li {
    display: inline-block;
    font-size: 1.4rem;
    padding: .2rem 3rem;
    cursor: pointer;
}

.home .main .search ul li:first-child {
    padding-left: 1rem;
}

.home .main .search ul li:not(:last-child) {
    border-right: 2px solid rgb(255 255 255 / 30%);
}

.home .main .search ul li i:first-child {
    margin-right: 1rem;
}

.home .main .search ul li i:last-child {
    font-size: .8rem;
    margin-left: 3rem;
    margin-top: -.5rem;
}

.home .main .search button {
    padding: .8rem 3rem;
    font-weight: 600;
    cursor: pointer;
}

/* ------------------------- home section ends hare ---------------- */

/* ---------------------------- achivment section starts here ---------------  */

.achivment {
    width: 100%;
    display: flex;
    gap: 2rem;
    transform: translate(0, -50%);
}

.achivment .box {
    padding: 2rem;
    background: var(--white-clr);
    box-shadow: 0 10px 25px rgb(0 0 0 / 10%);
    text-align: center;
    flex-grow: 1;
    border-radius: 2rem;
}

.achivment .box h5 {
    font-size: 5rem;
    font-weight: 500;
}

.achivment .box p {
    font-size: 1.6rem;
    color: var(--text-clr);
}

/* ---------------------------- achivment section ends here ---------------  */

/* ----------------------- best location section starts hare ----------------  */

.responsive-text {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.responsive-text .text-box {
    max-width: 60rem;
    margin-top: auto;
}

.responsive-text .text-box p {
    font-size: 1.6rem;
    color: var(--text-clr);
    line-height: 1.8;
}

.location .images {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.location .images .box {
    height: 35rem;
    flex-grow: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 8px 20px rgb(0 0 0 / 30%);
}

.location .images .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.location .images .box ul {
    position: absolute;
    left: 2rem;bottom: 2rem;
    list-style: none;
}

.location .images .box ul li {
    font-size: 1.6rem;
    color: #ddd;
}

.location .images .box ul li:last-child {
    color: var(--white-clr);
}

/* ----------------------- best location section ends hare ----------------  */

/* ----------------------- booking section starts hare ----------------  */

.booking {
    width: 100%;
    display: flex;
    gap: 4rem;
    margin: 4rem 0;
}

.booking .image, .booking .process {
    width: 100%;
}

.booking .image {
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 8px 20px rgb(0 0 0 / 30%);
}

.booking .image img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.booking .process .box {
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    margin-top: 3rem;
}

.booking .process .box span {
    font-size: 2rem;
    width: 55px;
    height: 50px;
    background: var(--white-clr);
    display: grid;
    place-items: center;
    border-radius: 1rem;
}

.booking .process .box .text {
    width: 100%;
}

.booking .process .box .text h4 {
    font-size: 2.5rem;
    font-weight: 600;
}

.booking .process .box .text p {
    margin-top: .5rem;
    font-size: 1.4rem;
    color: var(--text-clr);
}

.booking .process .scale {
    background: var(--white-clr);
    border-radius: 1.5rem;
    scale: 1.01;
    box-shadow: 0 8px 20px rgb(0 0 0 / 2%);
}

.booking .process .scale span {
    background: #f2f7ff;
}

/* ----------------------- booking section ends hare ----------------  */

/* packages section starts here  */

.packages .images {
    margin-top: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.packages .images .box {
    width: 100%;
    height: 50rem;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 8px 20px rgb(0 0 0 / 10%);
    position: relative;
}

.packages .images .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.packages .images .box .top {
    position: absolute;
    top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: var(--white-clr);
    list-style: none;
}

.packages .images .box .top li {
    font-size: 1.3rem;
    padding: 5px 10px;
    border-radius: 3rem;
    background: rgb(255 255 255 / 10%);
    backdrop-filter: blur(10px);
}

.packages .images .box .top li i {
    color: #fdcc0d;
}

.packages .images .box .bottom {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    background: rgb(255 255 255 / 10%);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    padding: 1rem;
}

.packages .images .box .bottom time {
    color: #ddd;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.packages .images .box .bottom ul {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
    margin-top: .5rem;
    font-size: 1.6rem;
    color: var(--white-clr);
}

/* packages section ends here  */

/* blogs section starts here  */

.blog {
    width: 100%;
}

.blog .container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.blog .container .box {
    width: 100%;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: 0 8px 30px rgb(0 0 0 / 10%);
}

.blog .container .box img {
    width: 100%;
    height: 35rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}

.blog .container .box .content {
    padding: 1.5rem;
}

.blog .container .box .content time {
    font-size: 1.4rem;
    color: var(--text-clr);
}

.blog .container .box .content h3 {
    font-size: 3rem;
    margin: 1.5rem 0;
    font-weight: 600;
}

.blog .container .box .content p {
    color: var(--text-clr);
    font-size: 1.6rem;
    line-height: 1.5;
}

.blog .action {
    width: 100%;
    text-align: center;
    margin-top: 4rem;
}

.blog .action a {
    font-size: 1.2rem;
    padding: 1rem 4rem;
    background: var(--black-clr);
    color: var(--white-clr);
    display: inline-block;
    border-radius: 2rem;
    transition: all .3s ease;
}

.blog .action a:hover {
    box-shadow: 0 8px 10px rgb(0 0 0 / 20%);
    transform: translate(0, -5px);
}

/* blogs section ends here  */

/* -------------- footer section starts hare --------------  */

footer {
    width: 100%;
    margin-top: 5rem;
    padding: 4rem 10rem;
    padding-top: 10rem;
    background: #191515;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem;
}

footer .links {
    flex: 1 0 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

footer .links ul {
    flex: 1 0 100px;
    display: grid;
    gap: 2rem;
    list-style: none;
}

footer h4 {
    font-size: 1.6rem;
    color: var(--white-clr);
    font-weight: 600;
}

footer .links ul li a {
    font-size: 1.3rem;
    color: var(--text-clr);
    white-space: nowrap;
    transition: color .3s ease;
}

footer .links ul li a:hover {
    color: var(--white-clr);
}

footer .newsletter {
    flex: 1 0 250px;
    max-width: 55rem;
}

footer .newsletter p {
    color: var(--text-clr);
    font-size: 1.3rem;
    margin: 2rem 0;
}

footer .newsletter .email-box {
    display: flex;
    width: 100%;
    height: 50px;
    border: 2px solid var(--text-clr);
    border-radius: 3rem;
    padding: .5rem;
}

footer .newsletter .email-box input {
    width: 100%;
    padding: 1rem;
    background: transparent;
    border: none;
    outline: none;
    color: var(--white-clr);
    font-size: 1.3rem;
}

footer .newsletter .email-box input::placeholder {
    color: var(--white-clr);
}

footer .newsletter .email-box button {
    padding: 0 2rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    background: var(--text-clr);
    color: var(--white-clr);
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .3s ease;
}

footer .newsletter .email-box button:hover {
    color: var(--black-clr);
    background: var(--white-clr);
}

footer .newsletter .social-links {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

footer .newsletter .social-links li {
    list-style: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--text-clr);
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: all .3s ease;
}

footer .newsletter .social-links li:hover {
    border: 2px solid var(--white-clr);
    background: transparent;
}

footer .newsletter .social-links li i {
    font-size: 1.6rem;
    color: var(--white-clr);
}

footer .copright {
    margin-top: 3rem;
    flex: 1 0 100%;
    text-align: center;
}

footer .copright p {
    font-size: 1.3rem;
    color: var(--white-clr);
}

/* -------------- footer section ends hare --------------  */




/* ----------------------- media query section starts hare --------------------- */

@media (max-width: 1065px) {
   .heading {
    white-space: wrap;
   }
}

@media (max-width: 957px) {
    html {
        font-size: 52%;
    }

    .booking {
        flex-direction: column;
    }

    .packages .images {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 795px) {
    .home .main h1 {
        font-size: 6rem;
    }
}

@media (max-width: 706px) {

    section {
        padding: 4rem;
    }

    .home header i {
        display: inline-block;
    }

    .home header .actions i {
        margin-left: 1rem;
    }

    .home header nav {
        position: absolute;
        top: -3rem;
        left: -1rem;
        width: calc(100% + 1.5rem);
        border-radius: 0;
        flex-direction: column;
        padding: 4rem;
        padding-top: 8rem;
        background: rgb(0 0 0 / 20%);
        border-bottom: 1px solid var(--white-clr);
        transform: translate(0, -100%);
        transition: transform .3s ease-in-out;
    }

    .home header nav i {
        font-size: 2rem;
        position: absolute;
        top: 4rem;
        right: 4rem;
    }

    .home header nav.active {
        transform: translate(0, 0);
    }

    .home .main .search ul li {
        padding: .5rem;
    }

    .home .main .search ul li i:last-child {
        margin-left: 1rem;
    }

    .achivment {
        transform: translate(0, 0);
        flex-wrap: wrap;
    }

    .responsive-text {
        flex-direction: column;
        gap: 2rem;
    }

    footer {
        padding: 4rem;
    }

}

@media (max-width: 546px) {
    .heading {
        font-size: 4rem;
    }

    .home .main h1 {
        font-size: 3.3rem;
        letter-spacing: 0;
    }

    .home .main .search {
        position: relative;
    }

    .home .main .search button {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 140%);
    }
    
}

/* ----------------------- media query section ends hare --------------------- */
